framework: auto-detect
redirects: on

source https://api.nuget.org/v3/index.json

nuget MathNet.Numerics.FSharp

clitool dotnet-fake

group Formatting
	source https://api.nuget.org/v3/index.json

	nuget FSharp.Formatting
	nuget FSharp.Formatting.CommandTool

group Testing
	source https://api.nuget.org/v3/index.json

	nuget Unquote
	nuget Expecto
	nuget Expecto.FsCheck