type project
authors
	halcwb
description
	Basic units of measure library enabling calculating with values that have units
projectUrl
	https://halcwb.github.io/GenUnits
iconUrl
    https://raw.githubusercontent.com/halcwb/GenUnits/master/docs/files/img/logo.png
licenseUrl
    http://github.com/halcwb/GenUnits/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2016