type project
authors
	halcwb
description
	Library with utility functions
projectUrl
	https://halcwb.github.io/GenUtils
iconUrl
    https://raw.githubusercontent.com/halcwb/GenUtils/master/docs/files/img/logo.png
licenseUrl
    http://github.com/halcwb/GenUtils/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2016